[Unit]
Description=Traffic Reporter Service

[Service]
Type=oneshot
User=root       
Group=root
EnvironmentFile=/opt/traffic_daemon/client.env
ExecStart=python -u /opt/traffic_daemon/daemon.py
StandardOutput=file:/tmp/traffic_reporter.log
StandardError=file:/tmp/traffic_reporter.err

[Install] 
WantedBy=multi-user.target

